.not-found-container {
  background-image: url('https://res.cloudinary.com/pardhu/image/upload/v1624629189/snow-removal-machine-working-high-ski-slope-snowstorm_454047-2149_1_bbvdjn.jpg');
  background-size: cover;
  height: 100vh;
}

.head-cont {
  background-color: #000000;
  padding: 0px;
  margin: 0px;
}
.logo-img {
  margin-top: 10px;
  margin-bottom: 10px;
  align-self: flex-start;
  margin-right: 200px;
}
.content-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.head1 {
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 125px;
  color: #ffffff;
  color: ;
  opacity: 0.9;
}
.para {
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 31px;
  text-align: center;

  color: #ffffff;
  color: ;
  opacity: 0.9;
}

.para2 {
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 31px;
  text-align: center;

  color: #ffffff;
  color: ;
  opacity: 2;
}

.but1 {
  height: 45px;
  width: 150px;
  border-radius: 10px;
  background-color: #ffffff;

  border-width: 0px;
  opacity: 0.9;
  font-size: 20px;
}
